body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background: #f4f4f4;
  color: #111;
  transition: 0.3s;
}

.dark {
  background: #121212;
  color: #fff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

input {
  padding: 6px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 6px 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #222;
  color: white;
}

.dark button {
  background: #444;
}

.song-card {
  background: white;
  padding: 20px;
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.dark .song-card {
  background: #1e1e1e;
}

.chord {
  color: #d14;
  font-weight: bold;
  font-size: 18px;
}
